.sectionHeading {
  margin-left: 20px;
}

.detailsSectionName {
  text-decoration: underline;
}

.thumbnail {
  background-color: $silver;
  height: 360px;
  padding-left: 10px;
  padding-right: 10px;

  .name {
    font-size: 25px;
  }

  .buttons {
    margin-bottom: 10px;
  }
}

.incidentQuickView {
  @include dropdownStyle;
  height: 250px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  margin-bottom: -15px;
  overflow: scroll;

  p {
    max-width: 450px;
    overflow-x: hidden;
    font-size: 16px;
  }
}

.victimIncident, .offenderIncident {
  @extend .incidentQuickView;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 325px;
}

.noData {
  font-size: 20px;
}