@import "_colors";

.navbar {
  height: 75px;
  background-color: lightgrey;

  .logo {
    padding-bottom: 10px;
    height: 60px;
    width: 125px;
  }
}

.navbar-default .navbar-nav > li > a {
  padding-top: 40px;
  color: $navLinks;
  font-size: 1.25em;
}
