@import "_colors";
@import "_navbar";
@import "_variables";
@import "_individuals";
@import "_incidents";

.infoHolder {
  background-color: $silver;
  max-width: 500px;
  text-align: center;
  font-size: 18px;

  .panel-title {
    font-size: 20px;
  }
}

.row {
  margin: 0 auto;
}

.pageHeading {
  padding-top: 10px;
  margin-top: -20px;
}

.sectionHeading, .detailsSectionName {
  margin-left: 20px;
}


.column {
  float: left;
  width: 40%;
  padding-left: 10%;
  justify-content: center;
  margin: 2%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// Styling for Add New Individuals and Add New Incidents
.navButtons {
  margin: 20px;

  .btn > .add {
    justify-self: left;
  }

  .add {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    -webkit-box-shadow: 0px 1px 3px #632b2e;
    -moz-box-shadow: 0px 1px 3px #632b2e;
    box-shadow: 0px 1px 3px #632b2e;
    color: #ffffff;
    background: $navLinks;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .add:hover {
    text-decoration: none;
  }
}

.formToAddIndividual, .newIncidentForm {
  padding-left: 540px;
}

form {
  margin: 20px;

  .individualFormInput, .newIncidentInput {
    width: 450px;
  }

  .formInput {
    margin-top: 15px;
  }
}

.time > table {
  width: 215px;
}

.selectedLabel {
  margin-left: 10px;
}

.noInfo {
  text-align: center;
  margin: 30px;
  padding: 20px;
}