<div class="container-fluid victimIncidents">
	<h2 class="sectionHeading">Incident History for: {{individual.firstName}} {{individual.lastName}}</h2>
	<div class="navButtons">
		<button class="add" ng-click="returnToIndividualsPage()">Return to Individuals Page</button>
		<button class="add" ng-click="returnToMyDashboard()">Return to My Dashboard</button>
	</div>
		<h3 class="detailsSectionName">Incidents as Victim</h3>
		<div ng-repeat="victimIncident in victimIncidents" class="col-sm-3">
			<div class="thumbnail">
				<div class="victimIncident">
						<p><strong>Date:</strong> {{victimIncident.date | DateFilter}}</p>
						<p><strong>Time:</strong> {{victimIncident.time | TimeFilter}}</p>
						<p><strong>Description:</strong> {{victimIncident.description}}</p>
						<p><strong>Action Taken:</strong> {{victimIncident.actionTaken}}</p>
						<p><strong>Action Notes:</strong> {{victimIncident.actionNotes}}</p>
						<p><strong>Offender:</strong> {{victimIncident.offender.firstName}} {{victimIncident.offender.lastName}}</p>
				</div>
			</div>
		</div>
	<div ng-if="victimIncidents.length==0">
			<p class="noData">NONE</p>
	</div>
</div>
<div class="container-fluid ">
	<h3 class="detailsSectionName">Incidents as Offender</h3>
	<div ng-repeat="offenderIncident in offenderIncidents" class="col-sm-3">
		<div class="thumbnail">
			<div class="offenderIncident">
				<p><strong>Date:</strong> {{offenderIncident.date | DateFilter}}</p>
				<p><strong>Time:</strong> {{offenderIncident.time | TimeFilter}}</p>
				<p><strong>Description:</strong> {{offenderIncident.description}}</p>
				<p><strong>Action Taken:</strong> {{offenderIncident.actionTaken}}</p>
				<p><strong>Action Notes:</strong> {{offenderIncident.actionNotes}}</p>
				<p><strong>Victim:</strong> {{offenderIncident.victim.firstName}} {{offenderIncident.victim.lastName}}</p>
			</div>
		</div>
	</div>
	<div ng-if="offenderIncidents.length==0">
			<p class="noData">NONE</p>
	</div>
</div>