<div class="container-fluid incidents">
	<div>
		<h2 class="sectionHeading">Incidents</h2>	
		<div class="navButtons">
			<button class="add" ng-click="goToAddIncidentForm()">Add New Incident</button>
		</div>
	</div>
	<div ng-repeat="incident in incidents | orderBy : '-date'" class="col-sm-3 incident">
		<div class="thumbnail text-center">
			<h4>{{incident.date | DateFilter}}</h4>
			<div class="buttons">
					<button class="btn btn-default delete" ng-click="deleteIncident(incident.id)" data-toggle="tooltip" data-placement="top" title="Delete Individual"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					<button class="btn btn-default pencil" ng-click="editIncidentInfo(incident.id)" data-toggle="tooltip" data-placement="top" title="Edit Individual"><i class="fa fa-pencil" aria-hidden="true"></i></button>
			</div>
			<div class="incidentQuickView">
				<p><strong>Victim:</strong> {{incident.victimName}}</p>
				<p><strong>Offender:</strong> {{incident.offenderName}}</p>
				<p><strong>Type:</strong> {{incident.type}}</p>
				<p><strong>Date:</strong> {{incident.date | DateFilter}}</p>
				<p><strong>Time:</strong> {{incident.time | TimeFilter}}</p>
				<p><strong>Description:</strong> {{incident.description}}</p>
				<p><strong>Action Taken:</strong> {{incident.actionTaken}}</p>
				<p><strong>Action Notes:</strong> {{incident.actionNotes}}</p>
			</div>
		</div>
	</div>
</div>
